pipeline/pipeline32_get_error_when_fail.json
{
	"name": "pipeline32_get_error_when_fail",
	"properties": {
		"activities": [
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error",
					"value": {
						"value": "@concat('Error: ', activity('Copy data1').error.message)\r\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sourcedatasetcsv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sinkdataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Error": {
				"type": "String"
			},
			"value": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-24T05:21:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}